@page {
    margin: 0cm 0cm;
}

/* Define now the real margins of every page in the PDF */
.body {
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-image: url("../static/pdf1.png");
}

.propietario {
    color: #000000;
    font-size: 0.8rem;
    line-height: 1rem;
    position:absolute;
    top:1.4cm;
    left: 3.6cm;
    /* width: 3cm; */
    text-align: center;
    /* border: 1pt solid red; */
  }